@model PharmancyPurchase.Core.Domain.Entities.Medicament
<h2>Add new medicament</h2>

@using (Html.BeginForm("AddNewMedicament", "Medicaments", FormMethod.Post))
{
    @Html.LabelFor(x => x.Title)
    @Html.TextBoxFor(x => x.Title)
    <hr />
    @Html.LabelFor(x => x.Description)
    @Html.TextBoxFor(x => x.Description)
    <hr />
    @Html.LabelFor(x => x.ItemsAvailable)
    @Html.TextBoxFor(x => x.ItemsAvailable)
    <hr />
    @Html.LabelFor(x => x.Price)
    @Html.TextBoxFor(x => x.Price)
    <hr />
    @Html.LabelFor(x => x.Vendor)
    @Html.TextBoxFor(x => x.Vendor)
    <input type="submit" value="Enter" />
}