@model PharmancyPurchase.Core.Domain.Entities.Medicament
<h2 class="page-heading">Add new medicament</h2>

@using (Html.BeginForm("AddNewMedicament", "Medicaments", FormMethod.Post))
{
<div class="grid-container">
    <div class="grid-item">
        @Html.LabelFor(x => x.Title)
    </div>
    <div class="grid-item">
        @Html.TextBoxFor(x => x.Title)
    </div>
    <div class="grid-item">
        @Html.LabelFor(x => x.Description)
    </div>
    <div class="grid-item">
        @Html.TextBoxFor(x => x.Description)
    </div>
    <div class="grid-item">
        @Html.LabelFor(x => x.ItemsAvailable, "Avalable items")
    </div>
    <div class="grid-item">
        @Html.TextBoxFor(x => x.ItemsAvailable)
    </div>
    <div class="grid-item">
        @Html.LabelFor(x => x.Price)
    </div>
    <div class="grid-item">
        @Html.TextBoxFor(x => x.Price)
    </div>
    <div class="grid-item">
        @Html.LabelFor(x => x.Vendor)
    </div>
    <div class="grid-item">
        @Html.TextBoxFor(x => x.Vendor)
    </div>
    <div class="grid-item submit">
        <input type="submit" class="btn btn-primary" role = "button" value="Add medicament" />
    </div>
</div>
 }
