@model List<PharmancyPurchase.Core.Domain.Entities.Medicament>
@{
    ViewData["Title"] = "Medicaments";
}

<div ng-controller="MedicamentsListController as ctrl">
    <h2 class="page-heading">Medicaments</h2>
    <table class="table table_blur">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Models Available</th>
            <th scope="col">Vendor</th>
            <th scope="col"></th>
        </tr>
        </thead>
        @{
            for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td ng-init="@("ctrl.items.model" + Model[i].Id + "Count = 1")">
                        <input type="checkbox" ng-model="@("ctrl.items.model" + Model[i].Id)">
                        <input type="number" ng-model="@("ctrl.items.model" + Model[i].Id + "Count")" ng-if="@("ctrl.items.model" + Model[i].Id)" style="width: 40px;">
                        @Model[i].Title
                    </td>
                    <td>@Model[i].Price</td>
                    <td>@Model[i].ItemsAvailable</td>
                    <td>@Model[i].Vendor</td>

                    <td>
                        @using (Html.BeginForm("DeleteMedicament", "Medicaments", FormMethod.Post))
                        {
                            @Html.Hidden("medicamentId", Model[i].Id);

                            <input type="submit" value="Delete" />
                        }
                    </td>
                </tr>
            }
        }
    </table>

    @Html.ActionLink("Add new medicament", "AddNewMedicamentView", "Medicaments", null, new { @class = "btn btn-primary", @role = "button" })
    <a class="btn btn-primary" role="button" ng-click="ctrl.buyItems();">Buy medicaments</a>
    @using (Html.BeginForm("SearchMedicament", "Medicaments", FormMethod.Post))
    {
        <div class="grid-container col-md-offset-4">
            <div class="grid-item">
                <input type="text" id="input-tagautocomplete" name="searchedValue" />
                <input class="btn btn-primary" type="submit" value="Search medicament" />
            </div>
        </div>
    }
</div>
